<section id="about">
  <div class="about">
    <div class="about__content">
      <h1 class="about__content__title">JPDev</h1>
      <p class="about__content__description">
        Prazer, sou João Pedro, tenho {{year}} anos, moro na Paraíba. Sou graduando em Engenharia de Computação e desenvolvedor back-end. Atualmente trabalho com
        Node.js, C# e Python. Estou sempre em busca de novos desafios e
        conhecimentos. Sou apaixonado por tecnologia e por resolver problemas do
        dia a dia através da programação. Estou sempre disposto a ajudar e a
        compartilhar conhecimento. Se você tem um projeto ou uma ideia, posso te
        ajudar a torná-la realidade. Fique à vontade para entrar em contato
        comigo para conversarmos.
      </p>
      <a href="mailto:jpedro.dev@proton.me?subject=Contato&body=Interesse em contato agendado." class="about__content__button">Contato</a>
    </div>
    <div class="about__content__technologies">
      <div>
        <h2 class="about__content__technologies__title">Tecnologias que trabalho</h2>
        <div class="about__content__technologies__list">
          <div class="about__content__technologies__list__item">
            <a
              class="about__content__technologies__list__link"
              href="https://nodejs.org/"
              target="_blank"
              rel="noopener noreferrer"
              title="Node.js"
            >
              <img
                class="about__content__technologies__list__image"
                src="tecno/nodejs.svg"
                alt="Node.js"
              />
            </a>
          </div>
          <div class="about__content__technologies__list__item">
            <a
              class="about__content__technologies__list__link"
              href="https://www.python.org/"
              target="_blank"
              rel="noopener noreferrer"
              title="Python"
            >
              <img
                class="about__content__technologies__list__image"
                src="tecno/python.png"
                alt="Python"
              />
            </a>
          </div>
          <div class="about__content__technologies__list__item">
            <a
              class="about__content__technologies__list__link"
              href="https://docs.microsoft.com/pt-br/dotnet/csharp/"
              target="_blank"
              rel="noopener noreferrer"
              title="C#"
            >
              <img
                class="about__content__technologies__list__image"
                src="tecno/c-sharp.png"
                alt="C#"
              />
            </a>
          </div>
          <div class="about__content__technologies__list__item">
            <a
              class="about__content__technologies__list__link"
              href="https://www.typescriptlang.org/"
              target="_blank"
              rel="noopener noreferrer"
              title="TypeScript"
            >
              <img
                class="about__content__technologies__list__image"
                src="tecno/typescript.svg"
                alt="TypeScript"
              />
            </a>
          </div>
          <div class="about__content__technologies__list__item">
            <a
              class="about__content__technologies__list__link"
              href="https://www.microsoft.com/pt-br/sql-server/"
              target="_blank"
              rel="noopener noreferrer"
              title="SQL Server"
            >
              <img
                class="about__content__technologies__list__image"
                src="tecno/sqlserver.svg"
                alt="SQL Server"
              />
            </a>
          </div>
          <div class="about__content__technologies__list__item">
            <a
              class="about__content__technologies__list__link"
              href="https://www.docker.com/"
              target="_blank"
              rel="noopener noreferrer"
              title="Docker"
            >
              <img
                class="about__content__technologies__list__image"
                src="tecno/docker.svg"
                alt="Docker"
              />
            </a>
          </div>
          <div class="about__content__technologies__list__item">
            <a
              class="about__content__technologies__list__link"
              href="https://www.git-scm.com/"
              target="_blank"
              rel="noopener noreferrer"
              title="Git"
            >
              <img
                class="about__content__technologies__list__image"
                src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.svg"
                alt="Git"
              />
            </a>
          </div>
          <div class="about__content__technologies__list__item">
            <a
              class="about__content__technologies__list__link"
              href="https://www.angular.dev/"
              target="_blank"
              rel="noopener noreferrer"
              title="Angular"
            >
              <img
                class="about__content__technologies__list__image"
                src="tecno/angular.png"
                alt="Angular"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
