<section id="home">
  <div class="home">
    <div class="home__content">
      <div class="home__content__image">
        <img src="images/joaopedro.png" alt="João Pedro" class="blob" priority loading="eager">
      </div>
      <div class="home__content__description">
        <h1>Olá, sou João Pedro!</h1>
        <p>Desenvolvedor Back-end</p>
        <a href="#projects" class="button">Ver Portfólio
          <fa-icon [icon]="faArrowRight" class="fa-icon-arrow"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>
