ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;

  padding-left: 2rem;
}

.project__data {
  padding-top: 5rem;
  padding-left: 4rem;
  padding-right: 2rem;
}

.projects__title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;

  color: var(--secondary-color);
}

.projects__subtitle {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: var(--secondary-color);
}

/* Tablet */
@media screen and (min-width: 768px) {
  .projects {
    padding-left: 0;
  }

  .project__data {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .projects {
    display: flex;
  }

  .project__data {
    padding-left: 0;
    padding-right: 0;
  }

  .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
