<!--
  O site será um portfólio de um desenvolvedor, então a página inicial será um resumo sobre o desenvolvedor.
  O site terá um menu com as seguintes opções:
  - Sobre
  - Projetos
  - Contato
  - Currículo

  O menu será fixo no topo da página e terá um efeito de transição ao rolar a página.
  O conteúdo de cada página será carregado dinamicamente, sem recarregar a página.
  O site terá na lateral esquerda o github do desenvolvedor e o linkedin. Que ao clicar será redirecionado para a página do github e linkedin do desenvolvedor. Acompanhado de um efeito de transição ao passar o mouse. E irá acompanhar o scroll da página.

  O site terá um design responsivo, com um layout diferente para dispositivos móveis.

  O site terá um favicon personalizado.

  O site terá um arquivo robots.txt.
-->

<main>
  <app-header></app-header>
  <app-nav-left></app-nav-left>
  <app-home></app-home>
  <app-about></app-about>
  <app-projects></app-projects>
  <app-contact></app-contact>
  <app-footer></app-footer>
</main>
